body{
	font-family: Arial Black, Gadget,sans-serif;
	font-size: 20px;
	background-color: white;
	cursor:url(images-folder/cursor-image.png), auto;

}

a:link {
	color:black;
}

a:visited {
	color:black;
}

a:hover {
	color: black;
}


.btn:hover {
	cursor: pointer;
}

.hide {
	display:none;
}

::selection {
  background: blue;
  color: lime;
}

::-webkit-scrollbar {
  display: none;
}

* {
	outline: 1px solid black;
	box-shadow: 2px 2px 80px cya n;

}

.image {
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	animation: transform 4s infinite alternate;		
}

@keyframes transform {
	0% {
		transform:skew(0deg);
	}

	50% {
		transform: skew(15deg);
	}				
		
	100% {
		transform: skew(90deg);
	}
}



.radio {
	width:30px;
	height: auto;	
}

 


.backgroundcolor{
	height:auto;
  	width:100%;
  	position:absolute;
}


.title{
	width:33%;
	font-size:80px;
	background-color:blue;
	outline: 1px solid black;	
	margin-left:auto;
	margin-top:auto;
}


.message1{
	display:inline-block;
	width:41%;
	font-size:30px;
	font-family:arial;
	color:red;
	font-weight: bold;
	padding:180px;
	background-color:red;	
}

.message1 p {
	font-style: italic;
}

.message1:hover {
	color:blue;
}

.message2{
	display:inline-block;
	width:41%;
	font-size:30px;
	color:black;
	padding:180px;
	
}

.message3 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}
.new-message3{
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}


.message4 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}
.new-message4 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}

.message5 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}
.new-message5 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}

.message6{
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}
.new-message6 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}


.message7{
	padding:10px; 
}

.message8{
	display:inline-block;
	width:24%;
	height: auto;
	font-size:50px;
	font-family:arial;
	color:white;
	font-weight: bold;
	padding:130px;
	background-color:red;
	margin-left: 18px;
}

.message9{
	display:inline-block;
	width:24%;
	height: auto;	
	font-size:50px;
	color:white;
	font-weight: bold;	
	padding:130px;
	background-color:red;
}

.message10{
	display:inline-block;
	width:24%;
	height: auto;	
	font-size:50px;
	font-family:arial;
	color:white;
	font-weight: bold;	
	padding:130px;
	background-color:red;
}

.message11{
	display:inline-block;
	width:24%;
	height: auto;	
	font-size:50px;
	color:white;
	font-weight: bold;	
	padding:130px;
	background-color:red;
}

.circle {
	position: fixed;	
	width:150px;
	height: 150px;		
	border-radius: 50%;
	text-align: center;
	font-size:30px;
	font-family:arial;
	color:white;
	padding: 20px;
	background-color:#ff9933;
	filter: blur(30px);
}

.cirle.one {
	margin-top: 30px;	
}

.circle.two {
	margin-top: 200px;	
	margin-left: 550px;
}

.circle.three {
	margin-top: 280px;	
	margin-left: 550px;	
}

.drag-image:hover {
	cursor: pointer;
}

.message13 {
	width:49%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}


.message14 {
	display: inline-block;
	width:49.50%;
	font-size:50px;
	padding: 200px;
	background-color:blue;
	margin-left:2.5px;
	margin-top:5px;
}






.container.one {
	width: 100%;
	display: inline;
	margin-left: 8px;
}

.column {
	display: inline;	
	padding-left: 19.43%;
	padding-bottom: 80px;
	outline: 1px solid black;
}

.column.three {
	padding-left: 5%;
	color:red;			
}
.column.four {
	padding-left: 5%;		
}
.column.five {
	padding-left: 5%;		
}

