body{
	font-family: Arial Black, Gadget,sans-serif;
	font-size: 20px;
	background-color: white;
	cursor:url(images-folder/cursor-image.png), auto;

}

a:link {
	color:black;
}

a:visited {
	color:black;
}

a:hover {
	color: black;
}


.btn:hover {
	cursor: pointer;
}

.hide {
	display:none;
}

::selection {
  background: blue;
  color: lime;
}

::-webkit-scrollbar {
  display: none;
}

* {
	outline: 1px solid black;
	box-shadow: 2px 2px 80px cya n;

}

.image {
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	animation: transform 4s infinite alternate;		
}

@keyframes transform {
	0% {
		transform:skew(0deg);
	}

	50% {
		transform: skew(15deg);
	}				
		
	100% {
		transform: skew(90deg);
	}
}



.radio {
	width:30px;
	height: auto;	
}

 


.backgroundcolor{
	height:auto;
  	width:100%;
  	position:absolute;
}


.title{
	width:33%;
	font-size:80px;
	background-color:blue;
	outline: 1px solid black;	
	margin-left:auto;
	margin-top:auto;
}


.message1{
	display:inline-block;
	width:41%;
	font-size:30px;
	font-family:arial;
	color:red;
	font-weight: bold;
	padding:180px;
	background-color:red;	
}

.message1 p {
	font-style: italic;
}

.message1:hover {
	color:blue;
}

.message2{
	display:inline-block;
	width:41%;
	font-size:40px;
	color:black;
	padding:180px;
	
}

.usermessage{
	display:inline-block;
	width:41%;
	font-size:40px;
	color:black;
	padding:180px;
	margin-left: 25%;
}



.toggle-title {
  font-size:30px;
  cursor: pointer;
  color:blue;
  position:absolute;
  z-index:10px;
}

.title-1 {
  left:900px;
  top:1250px;
}

.title-2 {
  left:600px;
  top:2500px;
}

.title-3 {
	left:100px;
  top:2800px;
}

.title-4 {
	left:1010px;
  top:4400px;
}

.toggle-content {
  display: none;
  background-color:white;
  font-size:13px;
  box-shadow:5px;
  position:absolute;
  width:250px;
}

.toggle-1 {
  left:900px;
  top:1290px;
}

.toggle-2 {
  left:600px;
  top:2540px;
}

.toggle-3 {
	left:100px;
  top:2840px;
}

.toggle-4 {
	left:1010px;
  top:4440px;
}


.message3 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}
.new-message3{
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}


.message4 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}
.new-message4 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}

.message5 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}
.new-message5 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}

.message6{
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}
.new-message6 {
	width:33%;
	font-size:50px;
	background-color:blue;
	margin-left:auto;
	margin-top:auto;
}


.message7{
	padding:10px; 
	width: 45%;
	margin-left: auto;
}

.message8{
	display:inline-block;
	width:24%;
	height: auto;
	font-size:50px;
	font-family:arial;
	color:white;
	font-weight: bold;
	padding:130px;
	background-color:red;
	margin-left: 18px;
}



.circle {
	position: fixed;	
	width:200px;
	height: 200px;		
	border-radius: 50%;
	text-align: center;
	font-size:30px;
	font-family:arial;
	color:white;
	padding: 20px;
	background-color:#ff9933;
	filter: blur(30px);
}

.cirle.one {
	margin-top: 30px;	
}

.circle.two {
	margin-top: 200px;	
	margin-left: 750px;
}

.circle.three {
	margin-top: 280px;	
	margin-left: 550px;	
}

.drag-image:hover {
	cursor: pointer;
}

.message13 {
	width:41%;
	font-size:50px;
	background-color:red;
	margin-right:auto;
	margin-top:auto;
	padding: 30px;
}


.check {
	padding: 20px;
}

.message14 {
	display: inline-block;
	width:49.50%;
	font-size:50px;
	padding: 200px;
	background-color:blue;
	margin-left:2.5px;
	margin-top:5px;
}


.address {
	display: inline-block;
	width:100%;
	font-size:8vh;
	padding: 300px;
	color: blue;
	text-align: center;
}


.city {
	font-size:20vh;
	padding: 20px;
	margin-top: 300px;
}

.city-content {
	display: inline-block;
	width:33%;	
	margin-left: 20px;	
	font-size:10px;
	margin-bottom: 300px;	
}

.subtitle {
	display: inline-block;
	width:25%;	
	margin-left: 70%;	
	text-align: right;
	padding:20px;
	font-size:10px;
	background-color: red;
}

.footer {
	font-size: 10px;
	width:100%;
	padding-left:20px;
	padding-right: 20px;
	padding-bottom: 10px;
	position: fixed;
	bottom: 0px;
	background-color: white;

}




