body{
	font-family: Arial Black, Gadget,sans-serif;
	font-size: 20px;
	background-color: black;
	color:lime;

}

::selection {
  background: blue;
  color: lime;
}

::-webkit-scrollbar {
  display: none;
}

* {
	outline: 1px solid gray;
}

a:link {
	color:lime;
}

a:visited {
	color:lime;
}

a:hover {
	color: black;
}

h1 {
  font-size:300px;
}

h2{
  font-size:100px;
}

p {
  font-size: 17px;
  color: white;
  width: 75%;
  font-family: Arial, serif;
}

html {
  scroll-behavior: smooth;
}


.subtitle {
  font-size:18px;
}

.link {
  font-size: 12px;
}


.main {
	padding: 10px;
}

#section1 {
  height: 800px;
  background-color: ;
}

#section2 {
  height: 800px;
  background-color: ;
}

#section3 {
  height: 800px;
  background-color: ;
}

#section4 {
  height: 800px;
  background-color: ;
}

#section5 {
  height: 800px;
  background-color: ;
}

#section6 {
  height: 800px;
  background-color: ;
}

#section7 {
  height: 800px;
  background-color: ;
}
