body{
	font-family: Arial Black, Gadget,sans-serif;
	font-size: 20px;
	background-color: gray;
	color:black;

}

::selection {
  background: blue;
  color: lime;
}

::-webkit-scrollbar {
  display: none;
}

* {
	outline: 2px solid gray;
  border-radius: 25px;
}

a:link {
	color:lime;
}

a:visited {
	color:lime;
}

a:hover {
	color: black;
}

h1 {
  font-size:300px;
  font-style: oblique;
  color:lime;
}

h2{
  font-size:100px;
  margin-top: 300px;
}

.hide {
  display: none;
}


.btn {
  color:black;
}


.btn:hover{
  color:blue;
  cursor:pointer;
}


html {
  scroll-behavior: smooth;
}

p {
  font-size:15px;
  color: black;
  font-family: Arial, serif;  
  width: 70%;
  padding: 15px;  
  outline: 2px solid gray;
  border-radius: 50%;
}

.subtitle {
  font-size:18px;
  margin-left: 80%;
}




#section1 {
  height: 800px;
}



.layer.one {
  padding-left: 200px;
  padding-top: 300px;  
}

.user-text {
  font-family: Arial, serif;  
  font-size: 17px;
  color: black;
  width: 70%;
}

.layer.two {
  padding-left: 500px;
  margin-top: 30px;

}

.interface-text {
  font-family: Arial, serif;  
  font-size: 17px;
  color: white;
  width: 70%;
}

.layer.three {
  padding-left: 300px;
  margin-top: 35px;
}

.address-text {
  font-family: Arial, serif;  
  font-size: 17px;
  color: white;
  width: 70%;
}

.layer.four {
  padding: 400px;
  margin-top: -350px;
  text-align: right;
}

.city-text {
  font-family: Arial, serif;  
  font-size: 17px;
  color: white;
  width: 100%;
  text-align: right;
}

.layer.five {
  padding: 300px;
}

.cloud-text {
  font-family: Arial, serif;  
  font-size: 17px;
  color: white;
  width: 70%;
}

.layer.six {
  padding: 300px;
}

.earth-text {
  font-family: Arial, serif;  
  font-size: 17px;
  color: white;
  width: 70%;
}

.links{
  margin-left: 300px;
}

